<h1>{{ pageTitle }}</h1>

<app-list></app-list>

<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6" *ngFor="let item of items; let i=index" >
            <div class="player" [style.background-image]="item.imageURL">
                <div class="player-info">
                    <p class="nick">{{ item.nick }}</p>
                    <p class="name"><span *ngIf="!item.name">Player {{i}}</span>{{ item.name }} {{ item.surname }}</p>
                    <p class="role"><span>{{ item.role }}</span></p>
                </div>
            </div>
            <!-- <img [src]="item.imageURL" [alt]="item.name" class="img-fluid img-thumbnail"> -->

        </div>
    </div>
</div>

<div class="text-center">
    <button class="btn btn-success">{{ viewMoreLabel | uppercase }}</button>
</div>


