<h1>{{ pageTitle }}</h1>

<!-- <app-list></app-list> -->
<ul>
    <li *ngFor="let term of serie">
        <button class="nobutton" [class.withData]="serieAux[term]" [class.active]="term==filter" (click)="setFilter(term)">{{ term }}</button>
    </li>
    <li><button class="btn btn-success" (click)="setFilter('')">Ver Todos</button></li>
</ul>
    
<div class="container">
    <div class="row">
        <div class="col-md-3 animated fadeIn fast" *ngFor="let item of items | filtro:filter">
            <img [src]="item.imageURL" [alt]="item.name" class="img-fluid img-thumbnail">
            <p>{{ item.nick }}</p>
            <p>{{ item.name }} {{ item.surname }}</p>
            <p>{{ item.role }}</p>
        </div>
    </div>
</div>

<div class="text-center">
    <button class="btn btn-success">{{ viewMoreLabel }}</button>
</div>


