/* You can add global styles to this file, and also import other style files */
body{
    background: black;
}

ul{
    list-style: none;
}

li{
    display: inline;
    margin: 5px;
    cursor: default;
}

.nobutton{
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
}

.withData{
    color: darkgray;
    font-weight: bold;
}

.active{
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
  
.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}
