body{
    background: #28292E;
    color: white;
    margin: 10px;
}

.player{
    width: 320px;
    height: 427px;
}

.player-info{
    position: absolute;
    bottom: 10px;
    margin: 0 auto;
    width: 100%;
}

p{
    text-align: center;
    margin-bottom: 0;
}

p.nick{
    font-weight: bold;
    font-size: 2.5em;
}

p.name{
    font-size: 1.5em;
}

p.role>span{
    border: 1px white solid;
    border-radius: 20px;
    padding: 0 10px;
}

ul{
    list-style: none;
}

li{
    display: inline;
    margin: 5px;
    cursor: default;
}

.nobutton{
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
}

.withData{
    color: darkgray;
    font-weight: bold;
}

.active{
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
  
.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}
