body{
    background: #28292E;
    color: white;
    margin: 10px;
}

button{
    cursor: pointer;
}

.main-container{
    margin: 20px 0 20px 0;
}

.player{
    margin-bottom: 15px;
}

.player-info{
    position: absolute;
    bottom: 25px;
    width: 88%;
}

.player-img{
    width: 100%;
}

p{
    text-align: center;
    margin-bottom: 0;
}

p.nick{
    font-weight: bold;
    font-size: 2.5em;
}

p.name{
    font-size: 1.5em;
}

p.role>span{
    border: 1px white solid;
    border-radius: 20px;
    padding: 0 10px;
    font-size: 1.5em;
}

html {
    font-size: 14px;
  }
  
  @media screen and (min-width: 1920px) {
    .player-info {
        font-size: 100%; /* Base font-size of 32px */
    }
}

@media screen and (max-width: 990px) {
    .player-info {
        font-size: 100%; /* Base font-size of 32px */
    }
}

@media screen and (max-width: 975px) {
    .player-info {
        font-size: 65%; /* Base font-size of 32px */
    }
}

ul{
    list-style: none;
    cursor: default;
    text-align: center;
}

li{
    display: inline;
    margin: 2px;
}

.nobutton{
    border: none;
    background: transparent;
    color: darkgray;
    cursor: pointer;
}

.withData{
    color: white;
    font-weight: bold;
}

.active{
    color: #fff;
    background-color: #28a745 !important;
    border-color: #28a745;
}

/* Responsive menu */
.dropdown{
    margin-bottom: 20px;
}

.dropdown-menu{
    width: 100%;
    background: #727b84;
    cursor: pointer;
}

.dropdown-item{
    text-align: center;
}

/* Animation */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
  
.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}
